/* ==================================
           Global Styling
   ================================== */
   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

$speed1: 0.2s;
$speed2: 0.3s;
$speed3: 0.4s;
$speed4: 0.5s;
$speed5: 0.6s;
$line-thickness: 2px;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 14px;
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background-color: #000000;
  border: 2px solid #ffd100;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  scrollbar-gutter: auto;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

/* ==================================
           NavBar Styling
   ================================== */
   /* Navigation Styles */
.navbar-wrapper {
  background-color: #000;
  position: fixed;
  z-index: 100;
  width: 100vw;
  text-transform: uppercase;
  letter-spacing: 1px;

  .nav-logo {
    height: 50px;
    margin-right: 200px;
  }

nav { position: relative;  }
header.dark nav { background-color:rgba(255,255,255,0.5); }
header.light nav { background-color:rgba(0,0,0,0.5); }

ul.main-nav { 
  list-style-type: none; 
  // display: flex;
  // align-items: center;
  margin: 0 auto;
  padding: 0px 100px;
}

ul.main-nav > li { 
  display: inline-block;
  padding: 0;
  transition: 0.25s all ease-in-out;
}

ul.main-nav > li > a { 
  display: block; 
  padding: 25px 30px; 
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 400ms ease-in-out;
    content: '';
    background: #ffd100;
    height: 4px;
  }
}

ul.main-nav > li a:hover { 
  color: #ffd100 !important;
  &:after {
    transform: scaleX(1);
  }

}

ul.main-nav > li ul.sub-menu-lists {
  margin: 0px;
  padding: 0px;
  list-style-type : none;
  display:block;
}

ul.main-nav > li ul.sub-menu-lists > li {
  padding: 2px 0;
}

ul.main-nav > li ul.sub-menu-lists > li > a {
  font-size: 14px;
}

.ic {
  position: fixed; 
  cursor: pointer;
  display: inline-block;
  right: 25px;
  width: 32px;
  height: 24px;
  text-align: center;
  top:0px;
  outline: none;
}

.ic.close { 
  opacity: 0; 
  font-size: 0px; 
  font-weight: 300; 
  color: #fff;
  top:8px;
  height:40px;
  display: block;
  outline: none;
}

/* Menu Icons for Devices*/
.ic.menu { top:25px; z-index : 100; }

.ic.menu .line { 
  height: 4px; 
  width: 100%; 
  display: block; 
  margin-bottom: 6px;
  background-color: #fff; 
}
.ic.menu .line-last-child { margin-bottom: 0px;  }

.sub-menu-head { margin: 10px 0; }
.banners-area { margin-top: 20px; padding-top: 15px; }

.banners-area img {width: 150px;}


@media only screen and (max-width:768px) {
  .sub-menu-head { color:orange; }
  .ic.menu { display: block; }
  header.dark .ic.menu .line { background-color: #fff; } 
  header.light .ic.menu .line { background-color: #000; }
  .ic.menu .line {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .ic.menu:focus .line { background-color: #fff !important; }
  
  .ic.menu:focus .line:nth-child(1) { 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); 
  }
  
  .ic.menu:focus .line:nth-child(2){ 
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); 
    margin-top: -10px;
  }
  
  .ic.menu:focus .line:nth-child(3){
    transform: translateY(15px);
    opacity: 0;
  }
  
  .ic.menu:focus{ outline: none; }
  .ic.menu:focus ~ .ic.close { opacity: 1; z-index : 21;  outline: none;  }
  
  /*
  
  .ic.menu:focus ~ .ic.close { opacity: 1.0; z-index : 21;  }
  .ic.close:focus { opacity: 0; }
  */
  .ic.menu:hover, 
  .ic.menu:focus{ opacity: 1; }
  

  nav { background-color: transparent; }
  
 /* Main Menu for Handheld Devices  */
  ul.main-nav {
    z-index:2; 
    padding: 50px 0;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 0px;
    background-color:rgba(0,0,0,1);
    height: 100%;
    overflow: auto;
    /*CSS animation applied : Slide from Right*/
   -webkit-transition-property: background, width;
    -moz-transition-property: background, width;
    -o-transition-property: background, width;
    transition-property: background, width;
   	-webkit-transition-duration: 0.6s;
	  -moz-transition-duration: 0.6s;
	  -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
  }
  
  .ic.menu:focus ~ .main-nav { width: 300px; background-color:rgba(0,0,0,1); }
  
  ul.main-nav > * { 
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
   	-webkit-transition-duration: 0.4s;
	  -moz-transition-duration: 0.4s;
	  -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: 0;
  }
  .ic.menu:focus ~ .main-nav > * {opacity: 1;}
  
  ul.main-nav > li > a:after {display: none;}
  ul.main-nav > li:first-child { border-radius: 0px; }
  ul.main-nav > li {
    display: block;
    border-bottom: 1px solid #444;
  }
  
  ul.main-nav > li > a { font-weight: 600; }
  
  ul.main-nav > li ul.sub-menu-lists > li a { color: #eee; font-size: 14px; }
  .sub-menu-head { font-size: 16px;}
  ul.main-nav > li:hover { background-color: transparent;  }
  ul.main-nav > li:hover > a {color: #fff; text-decoration: none; font-weight: 600;}
 .ic.menu:focus ~ ul.main-nav > li > div.sub-menu-block {
    border-left: 0px solid #ccc;
    border-right: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    position: relative;
    visibility: visible;
    opacity: 1.0;
  }
  
  .sub-menu-block { padding: 0 30px; }
  .banners-area { padding-bottom: 0px;  }
  .banners-area div { margin-bottom: 15px;  }
  .banners-area { border-top: 1px solid #444; }
}

@media only screen and (min-width:769px) {
  .ic.menu { display: none; }
  /* Main Menu for Desktop Devices  */
  ul.main-nav { display: block; position: relative; }
  .sub-menu-block { padding: 15px; }
  
  /* Sub Menu */
  ul.main-nav > li > div.sub-menu-block { 
  visibility: hidden;
  text-transform: capitalize;
  background-color: #f9f9f9;
  position: absolute;
  margin-top: 0px;
  width: 100vw;
  color: #333;
  left: 0;
  box-sizing: border-box;
  z-index : 3;
  font-size: 16px;
  opacity: 0;
  padding: 30px 100px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
    .submenu-tag {
      font-size: 20px;
    }
  }
  
  ul.main-nav > li:hover > div.sub-menu-block{ 
    background-color: #f9f9f9; 
    visibility: visible;
    opacity: 1;
  }
  
  ul.main-nav > li > div.sub-menu-block > * {
    opacity: 0;
  }
  
  ul.main-nav > li:hover > div.sub-menu-block > * {
    opacity: 1;
  }
  
  .sub-menu-head { font-size: 20px;}
  
  
  
  /* Drop Down/Up Arrow for Mega Menu */
  ul.main-nav > li > a.mega-menu > span { display: block; vertical-align: middle; }
  ul.main-nav > li > a.mega-menu > span:after {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: '';
    background-color: transparent;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }

  ul.main-nav > li:hover > a.mega-menu span:after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #666;
  }
  .banners-area { border-top: 1px solid #ccc; }
}
}

/* ==================================
      Section-1 Banner Styling
   ================================== */
.section-1.banner {
  background-color: #262351;
  color: #fff;
  height: 100vh;
  position: relative;

  .section-1-left {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    .content-wrapper {
      width: 85%;
      padding-right: 10%;
      .section-1-heading {
        font-size: clamp(1.8rem, 3vw, 3.5rem);
      }
      .section-1-text {
        font-size: clamp(1rem, 3vw, 1.3rem);
        padding-block: 10px;
        font-weight: 300;
      }
      .section-1-subhead {
        font-size: clamp(1.125rem, 2.5vw, 1.5rem);
        font-weight: 600;
      }
    }
  }

  .section-1-right {
    position: relative;
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }

    .section-1-button-wrapper {
      display: grid;
      background-color: #3232326d;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      place-items: center;
      position: absolute;
      cursor: pointer;
      z-index: 10;
      bottom: 20px;
      right: 20px;

      .section-1-btn {
        width: 20px;
        height: 20px;
        background: #ffffff;
        border: none;
        opacity: 0.6;
        translate: 0 0;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &.play {
          clip-path: polygon(0 1%, 0% 100%, 100% 50%);
          translate: 6% 0;
        }
        &.pause {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          translate: 0 0;
        }
      }
    }
  }
  .anim-container {
    width: min-content;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 48%;
    .scroll {
      width: 60px;
      height: 60px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      position: relative;
      animation: down 1.5s infinite;
      -webkit-animation: down 1.5s infinite;
      &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        transform: rotate(-45deg);
      }
    }

    @keyframes down {
      0% {
        transform: translate(0);
      }
      20% {
        transform: translateY(15px);
      }
      40% {
        transform: translate(0);
      }
    }

    @-webkit-keyframes down {
      0% {
        transform: translate(0);
      }
      20% {
        transform: translateY(15px);
      }
      40% {
        transform: translate(0);
      }
    }
  }
}

/* ==================================
      Section-2 Slider Styling
   ================================== */
.section-2.slider-container {
  padding-bottom: 60px;
  .carousel-wrapper {
    height: 350px !important;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .carousel-caption {
      position: absolute;
      left: 15%;
      top: 40px;
      text-align: left;
      width: 30%;
      h3 {
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
      }
      p {
        font-size: clamp(1rem, 2vw, 1.3rem);
      }
      .slider-btn {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 10px 20px;
        border: 2px solid #fff;
        width: max-content;
        transition: 0.5s all ease;
        cursor: pointer;

        &:hover {
          background-color: #fff;
          color: #000;
          transform: scale(1.05);
        }
      }
    }
    .carousel-indicators {
      align-items: center;
      button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ffd00089;
        &.active {
          width: 20px;
          height: 20px;
          background-color: #ffd100;
        }
      }
    }
  }
}

/* ==================================
      Section-3 Services Styling
   ================================== */
.section-9.first-banner {
  padding-block: 60px;
  background-color: #fff;
  position: relative;
  color: #000;
  .section-9-left {
    height: 100%;
    display: flex;
    align-items: center;
    .banner-img {
      width: 100%;
    }
  }

  .section-9-right {
    .section-9-content-wrapper {
      .tag {
        font-size: 15px;
        letter-spacing: 2px;
        color: #ddd;
        font-weight: 600;
      }
      .section-9-heading {
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
      }

      .section-9-text {
        font-size: clamp(1rem, 2.5vw, 1.3rem);
      }
    }
  }
}

/* ==================================
    Section-3 Insight Blogs Styling
   ================================== */
.section-3.insight-blog {
  width: 100vw;
  margin-block: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .insight-head {
    font-size: 40px;
    font-weight: 600;
    padding: 0 212px 30px;
  }
  .insight-wrapper {
    width: 100vw;
    max-width: 1500px;
    margin-inline: 200px;
    display: grid;
    grid-template-areas:
      "one two two"
      "one three four"
      "five three six";
    grid-gap: 25px;

    .box {
      min-height: 200px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
      border-radius: 0px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      transition: 0.25s ease-in-out;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &:hover {
        border-radius: 10px;
        transform: scale(1.025);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.354);

        .box-content {
          span {
            transform: translateX(-10px);
          }
        }
      }

      &.one {
        background: #6b9e78;
        background-image: url("./Assets/insight-one.png");
        color: #fff;
        grid-area: one;
      }
      &.two {
        background: #cc850a;
        background-image: url("./Assets/insight-two.png");
        color: #000;
        grid-area: two;
      }
      &.three {
        background: #46a1ac;
        background-image: url("./Assets/insight-three.png");
        color: #000;
        grid-area: three;
      }
      &.four {
        background: #e16a7c;
        color: #fff;
        grid-area: four;
      }
      &.five {
        background: #003d4f;
        color: #fff;
        grid-area: five;
      }
      &.six {
        background: #674a7a;
        color: #fff;
        grid-area: six;
      }

      .box-button {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        width: fit-content;
      }
      .box-heading {
        font-size: clamp(1.25rem, 2.5vw, 2rem);
        font-weight: 600;
        padding-top: 10px;
      }

      .box-content {
        margin-top: auto;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        color: #000;
        text-decoration: none;
        transition: transform 0.3s ease;
        width: fit-content;

        &:after {
          content: "";
          position: absolute;
          width: 200px;
          transform: scaleX(0);
          border-radius: 5px;
          height: 0.05em;
          bottom: 30px;
          left: 20px;
          background: #fff;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        span {
          font-size: 30px;
          margin-left: 10px;
          rotate: 180deg;
          transition: transform 0.3s ease;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .insight-wrapper {
      display: grid;
      grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six";
      grid-gap: 10px;
    }
  }
}

// Small Resolution Desktops
@media screen and (min-width: 1024px) and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 1) {
  .section-3.insight-blog {
    .insight-wrapper {
      width: 100vw;
      max-width: 1200px;
      margin-inline: 100px;
    }
  }
}
// Apple Devices
@media screen and (min-width: 1350px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .section-3.insight-blog {
    .insight-wrapper {
      width: 100vw;
      max-width: 1300px;
      margin-inline: 100px;
    }
  }
}
/* ==================================
  Section-4 Partners & Clients Styling
   ================================== */
.section-4.client-partners {
  padding-block: 60px;

  .section-4-heading {
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 600;
  }
  .slider {
    height: 100px;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: 30px;

    &::before,
    &::after {
      position: absolute;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      content: "";
      height: 100%;
      width: 25%;
      z-index: 2;
      pointer-events: none;
    }

    &::before {
      left: 0;
      top: 0;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    .slide-track {
      width: calc(200px * 15);
      display: flex;
      animation: scroll 15s linear infinite;
      justify-content: space-between;

      .slide {
        width: 200px;
        height: 100px;
        display: grid;
        place-items: center;
        transition: 0.5s;
        cursor: pointer;

        img {
          width: 80%;
          object-fit: cover;
          filter: grayscale(100%);
        }

        &:hover {
          transform: scale(0.8);
        }
      }
    }
    @keyframes scroll {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(calc(-200px * 5));
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slide-track {
    width: calc(80px * 15);
    .slide {
      width: 80px;
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}

/* ==================================
Section-5 Upcoming Events Styling Styling
   ================================== */

/* ==================================
      Section-6 Career Styling
   ================================== */
.section-6.careers {
  padding-block: 60px;
  margin-top: 60px;
  background-color: #003d4f;
  position: relative;
  color: #fff;

  .section-6-left {
    .section-6-content-wrapper {
      .tag {
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 600;
      }
      .section-6-heading {
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
      }

      .section-6-text {
        font-size: clamp(1rem, 2.5vw, 1.3rem);
      }

      .section-6-button {
        .button-fancy {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          display: inline-block;
          padding: 16px 42px;
          text-decoration: none;
          position: relative;

          .arrow {
            background-color: transparent;
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 50%;
            border-style: solid;
            border-width: 2px;
            width: 100%;
            height: 100%;
            z-index: 50;
            will-transform: translate;
            transform: translate(50%, -50%);
            transition: transform $speed4 ease-in, right $speed4 ease-in-out,
              width $speed3 ease $speed2, height $speed2 ease $speed2,
              border-width $speed3 ease-in-out, background-color $speed1 ease-in,
              border-color $speed3 ease-in-out;

            &:before,
            &:after {
              background-color: transparent;
              content: "";
              display: block;
              height: 2px;
              position: absolute;
              top: 0;
              right: 0;
              transition: all 0.2s;
              transition-delay: 0;
            }

            &:before {
              transform-origin: top right;
            }

            &:after {
              transform-origin: bottom right;
            }
          }

          &:hover {
            &.-white > .arrow {
              background-color: #ffffff;

              &:before,
              &:after {
                background-color: #ffffff;
              }
            }

            .arrow {
              height: 2px;
              border-width: 0;
              border-color: transparent;
              width: 56px;
              right: 0;
              transform: translate(50%, -50%);
              transition: transform $speed4 ease-in, right $speed4 ease $speed1,
                width $speed3 ease, height $speed2 ease-in-out,
                border-width $speed2 ease-in-out,
                background-color $speed1 ease-in $speed2,
                border-color $speed2 ease-in-out;

              &:before,
              &:after {
                width: 8px;
                transition-delay: $speed3;
              }

              &:before {
                transform: rotate(40deg);
              }

              &:after {
                transform: rotate(-40deg);
              }
            }

            > .text {
              transform: translateX(-42px);
              transition: transform $speed3 ease-in-out $speed1;
            }
          }

          &.-white {
            color: white;
            border-color: white;
          }

          .text {
            display: block;
            position: relative;
            z-index: 20;
            transition: transform $speed2 ease-in-out;
          }
        }
      }
    }
  }
  .section-6-right {
    .banner-img {
      position: absolute;
      bottom: -40px;
      right: 200px;
      width: auto;
    }
  }
}
.section-6-footer {
  padding: 50px 200px 30px;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #000;
    transition: 0.3s ease-in-out;
    &:hover:not(:hover span) {
      text-decoration: underline;
    }
  }
}

/* ==================================
      Section-7 Some Cards Styling
   ================================== */
.section-7.featured {
  background-color: #edf1f3;
  padding: 60px 0 200px;
  .featured-title {
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }

  .featured-card {
    a {
      text-decoration: none;
      .featured-content-wrapper {
        border-radius: 10px;
        position: relative;
        .image-wrapper {
          img {
            width: 90%;
          }
        }
        .content-wrapper {
          background-color: #ffffff;
          box-shadow: 0 0.3125rem 3.5rem 0 rgba(34, 29, 31, 0.12);
          color: #000;
          padding: 30px;
          position: absolute;
          top: 200px;
          right: 0;
          width: 90%;
          z-index: 1;
          transition: all 0.5s ease-in-out;
          .tags {
            background-color: #000;
            padding: 10px;
            color: #fff;
            width: max-content;
            position: absolute;
            margin: -50px 0 0 -15px;
            line-height: 1;
          }
          .title {
            padding-bottom: 25px;
          }
          .link {
            color: #000;
            width: max-content;
            margin-top: auto;

            &:after {
              content: "";
              position: absolute;
              width: 150px;
              transform: scaleX(0);
              border-radius: 5px;
              height: 0.05em;
              bottom: 30px;
              left: 20px;
              background: #000;
              transform-origin: bottom right;
              transition: transform 0.25s ease-out;
            }

            &:hover::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }

      &:hover {
        .content-wrapper {
          transform: translateX(-20px);
        }
      }
    }
  }
}

.section-7-events {
  padding-block: 60px;
  background-color: #edf1f3;
  display: flex;
  .event-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
    text-align: center;
  }
  .event-card {
    a {
      text-decoration: none;
      color: #000;
      .event-content-wrapper {
        flex: 1;
        background-color: #fff;
        padding: 30px;
        border-radius: 15px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        transition: 0.25s all ease-in-out;
        .head-link {
          font-size: 25px;
          text-decoration: none;
        }
        .event-btn-wrapper {
          display: flex;
          align-items: center;
          margin-top: auto;
          width: 100%;
          .tags {
            line-height: 1;
            margin-bottom: 0;
          }
          .external-arrow {
            margin-left: auto;
            background-color: #ffd100;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &:hover {
        .event-content-wrapper {
          background-color: #ffd100;
          .head-link {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* ==================================
      Section-8 LongBanner Styling
   ================================== */
.section-8.ready-to-banner {
  padding-block: 60px;
  background-color: #003d4f;
  color: #fff;

  .section-8-left {
    .lazy-load-image-background {
      width: 100%;
    }
    .banner-img {
      margin-top: -20%;
      width: 100%;
      -webkit-filter: drop-shadow(5px 5px 10px #00000098);
      filter: drop-shadow(5px 5px 10px #00000098);
    }
  }

  .section-8-right {
    .section-8-content-wrapper {
      .tag {
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 600;
      }
      .section-8-heading {
        font-size: clamp(2rem, 5vw, 2.5rem);
      }

      .section-8-text {
        font-size: clamp(1rem, 2.5vw, 1.3rem);
      }

      .section-8-button {
        .button-fancy {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          display: inline-block;
          padding: 16px 42px;
          text-decoration: none;
          position: relative;

          .arrow {
            background-color: transparent;
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 50%;
            border-style: solid;
            border-width: 2px;
            width: 100%;
            height: 100%;
            z-index: 50;
            will-transform: translate;
            transform: translate(50%, -50%);
            transition: transform $speed4 ease-in, right $speed4 ease-in-out,
              width $speed3 ease $speed2, height $speed2 ease $speed2,
              border-width $speed3 ease-in-out, background-color $speed1 ease-in,
              border-color $speed3 ease-in-out;

            &:before,
            &:after {
              background-color: transparent;
              content: "";
              display: block;
              height: 2px;
              position: absolute;
              top: 0;
              right: 0;
              transition: all 0.2s;
              transition-delay: 0;
            }

            &:before {
              transform-origin: top right;
            }

            &:after {
              transform-origin: bottom right;
            }
          }

          &:hover {
            &.-white > .arrow {
              background-color: #ffffff;

              &:before,
              &:after {
                background-color: #ffffff;
              }
            }

            .arrow {
              height: 2px;
              border-width: 0;
              border-color: transparent;
              width: 56px;
              right: 0;
              transform: translate(50%, -50%);
              transition: transform $speed4 ease-in, right $speed4 ease $speed1,
                width $speed3 ease, height $speed2 ease-in-out,
                border-width $speed2 ease-in-out,
                background-color $speed1 ease-in $speed2,
                border-color $speed2 ease-in-out;

              &:before,
              &:after {
                width: 8px;
                transition-delay: $speed3;
              }

              &:before {
                transform: rotate(40deg);
              }

              &:after {
                transform: rotate(-40deg);
              }
            }

            > .text {
              transform: translateX(-42px);
              transition: transform $speed3 ease-in-out $speed1;
            }
          }

          &.-white {
            color: white;
            border-color: white;
          }

          .text {
            display: block;
            position: relative;
            z-index: 20;
            transition: transform $speed2 ease-in-out;
          }
        }
      }
    }
  }
}

/* ==================================
            Footer Styling
   ================================== */
.footer-wrapper {
  .global-footer {
    background-color: #000;
    .go-top {
      width: 100%;
      margin: 0;
      button {
        width: 55px;
        height: 55px;
        padding: 20px;
        font-size: 1.5rem;
        border-radius: 0.75rem;
        border: 1px solid #000;
        margin-top: -2%;
      }
    }
    .footer-content {
      padding: 20px 10px;
      .logo-wrapper {
        color: #ddd;
        .footer-logo {
          width: 100px;
        }
      }
      .footer-tag {
        color: #ddd;
        font-size: 1.5rem;
        // margin-top: 15px;
      }
      .social-icons {
        padding: 0;
        .list-icon {
          list-style-type: none;
          color: #000;
          padding-inline: 5px;
          .social-icon {
            color: #fff;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 2.1em;
            height: 2.1em;
            border: 2px solid currentColor;
            transition: 0.25s all ease-in-out;
            &:hover {
              background-color: #ffd100;
              color: #000;
              border: 2px solid #fff;
            }
  }
  }

  .contact-content span {
    color: #353c47;
    margin: 0 10px;
          }

  .contact-content span {
    color: #353c47;
    margin: 0 10px;
  }
  }

  .contact-social {
    margin-top: 30px;
        }

  .contact-social {
    margin-top: 30px;
  }
  }

  .contact-social > ul {
    display: inline-flex;
      }

  .contact-social > ul {
    display: inline-flex;
    }
    .last-foot {
      background-color: #003d4f;
      .list-unstyled {
        li {
          a {
            text-decoration: underline;
            color: #fff;
          }
  }
  }

  .contact-content img {
    max-width: 210px;
        }

  .contact-content img {
    max-width: 210px;
      }
      .copyright {
        color: #fff;
      }
  }
  }

  footer img {
    width: 44px;
    }

  footer img {
    width: 44px;
  }
}

// Mobile Devices
@media screen and (max-width: 600px) {
  /* ==================================
      Section-1 Banner Styling
   ================================== */
  .section-1.banner {
    height: auto;

    .section-1-left {
      padding: 30px 20px 100px;
      .content-wrapper {
        width: 100%;
        padding-right: 0;
        .section-1-heading {
          font-size: clamp(2rem, 6vw, 2.5rem);
          margin-bottom: 16px;
        }
      }
    }

    .section-1-right {
      video {
        height: 40vh;
      }
    }
   .anim-container {
    display: flex;
      bottom: 3%;
      left: 42%;
   }
  }

  /* ==================================
      Section-2 Slider Styling
   ================================== */
  .section-2.slider-container {
    padding-bottom: 30px;
    .carousel-wrapper {
      height: 250px !important;
      img {
        height: 250px;
      }
      .carousel-caption {
        top: 10px;
        width: 70%;
      }
    }
  }

  /* ==================================
      Section-9 Services Styling
   ================================== */
  .section-9.first-banner {
    padding: 30px 8px;
    background-color: #fff;
    position: relative;
    color: #000;
    .section-9-right {
      padding-top: 30px;
    }
  }

  /* ==================================
    Section-3 Insight Blogs Styling
   ================================== */
  .section-3.insight-blog {
    width: 100vw;
    margin: 30px 0;

    .insight-head {
      font-size: clamp(2rem, 2.5vw, 2.5rem);
      padding: 0 0 30px;
    }
    .insight-wrapper {
      .box {
        .box-button {
          margin-bottom: 20px;
        }
        .box-heading {
          font-size: clamp(1.25rem, 2.5vw, 2rem);
        }
      }
    }
  }

  /* ==================================
  Section-4 Partners & Clients Styling
   ================================== */
  .section-4.client-partners {
    padding-block: 30px;

    .section-4-heading {
      font-size: clamp(2rem, 2.5vw, 2.5rem);
    }
  }

  /* ==================================
      Section-6 Career Styling
   ================================== */
  .section-6.careers {
    padding: 30px 8px;
    margin-top: 30px;

    .section-6-left {
      .section-6-content-wrapper {
        .tag {
          font-size: 15px;
        }
        .section-6-heading {
          font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        }

        .section-6-text {
          font-size: clamp(1rem, 2.5vw, 1.3rem);
        }
      }
    }
    .section-6-right {
      .banner-img {
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
  .section-6-footer {
    padding: 30px 10px 30px;
    align-items: center;
    a {
      font-size: 12px;
    }
  }

  /* ==================================
      Section-7 Some Cards Styling
   ================================== */
  .section-7.featured {
    padding: 30px 8px 200px;
    .featured-title {
      font-size: clamp(2rem, 2.5vw, 2.5rem);
    }

    .featured-card {
      a {
        .featured-content-wrapper {
          .image-wrapper {
            img {
              width: 95%;
            }
          }
          .content-wrapper {
            padding: 30px 20px 20px;
            top: 170px;
            width: 95%;
            transition: all 0.5s ease-in-out;
            .tags {
              margin: -50px 0 0 0;
            }
          }
        }

        &:hover {
          .content-wrapper {
            transform: translateX(0);
          }
        }
      }
    }

    .featured-card:not(:last-child) {
      margin-bottom: 15rem;
    }
  }
  .section-7-events {
    padding: 30px 8px;
    .event-title {
      font-size: clamp(2rem, 2.5vw, 2.5rem);
      margin-bottom: 32px;
    }
    .event-card {
      a {
        .event-content-wrapper {
          .head-link {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 20px;
          }
          .event-btn-wrapper {
            .tags {
              line-height: 1;
              margin-bottom: 0;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  /* ==================================
      Section-8 LongBanner Styling
   ================================== */
  .section-8.ready-to-banner {
    padding: 30px 8px;

    .section-8-left {
      width: 100%;
      .lazy-load-image-background {
        width: 100%;
      }
      .banner-img {
        position: relative;
        bottom: 0;
        left: 0px;
        width: 100%;
        margin-bottom: 30px;
        -webkit-filter: drop-shadow(5px 5px 10px #00000098);
        filter: drop-shadow(5px 5px 10px #00000098);
      }
    }

    .section-8-right {
      .section-8-content-wrapper {
        .tag {
          font-size: 15px;
        }
        .section-8-heading {
          font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        }

        .section-8-text {
          font-size: clamp(1rem, 2.5vw, 1.3rem);
        }
      }
    }
  }

  // Footer
  .footer-wrapper {
    .global-footer {
      .go-top {
        button {
          margin-top: -7%;
        }
      }
    }
  }
}

// Small Resolution Desktops
@media screen and (min-width: 1024px) and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 1) {
  .section-6.careers {
    .section-6-right {
      .banner-img {
        position: relative;
        bottom: -100px;
        right: 0;
        width: 500px;
      }
    }
  }

  .section-7.featured {
    padding: 60px 0 150px;
    .featured-card {
      a {
        .featured-content-wrapper {
          .content-wrapper {
            top: 120px;
            transition: all 0.5s ease-in-out;
            padding: 20px;
            .tags {
              margin: -40px 0 0 0;
            }
            .title {
              padding-bottom: 25px;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  .section-7-events {
    padding: 60px 0 100px;
  }

  .section-8.ready-to-banner {
    padding-block: 60px;

    .section-8-left {
      .banner-img {
        margin-top: -30%;
      }
    }

    .section-8-right {
      .section-8-content-wrapper {
        .tag {
          font-size: 15px;
        }
        .section-8-heading {
          font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        }

        .section-8-text {
          font-size: clamp(1rem, 2.5vw, 1.3rem);
        }
      }
    }
  }
}
